run = "bundle exec jekyll serve --livereload --livereload-port=3001"
entrypoint = "README.md"
hidden = ["_site"]

[packager]
language = "ruby"

[[ports]]
localPort = 3001
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 4000
externalPort = 80
exposeLocalhost = true
